/* border gradiennts */
.border-box-animated {
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    /*min-height: 100vh;
        background: #0e1538; */
}

.border-box-animated div {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    overflow: hidden;
}

.border-box-animated div::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 200%;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 4s linear infinite;
}

.border-box-animated div::after {
    content: '';
    position: absolute;
    background: #0e1538;
    inset: 5px;
    border-radius: 16px;
}

.border-box-animated div h2 {
    color: #fff;
    text-shadow: 2px 2px #000;
    font-size: 8em;
    z-index: 99;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.border-rainbow {
    position: relative;
    z-index: 90;
    top: 50%;
    left: 50%;
}

.border-rainbow .box {
    height: 250px;
    width: 250px;
    position: absolute;
    transform: translate(-50%, -50%);

    border-radius: 5px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.border-rainbow .box::before {
    content: "";
    height: 150%;
    width: 150%;
    position: absolute;
    background: conic-gradient(#fd004c, #fe9000, #fff020, #3edf4b, #3363ff, #b102b7, #fd004c);
    left: -25%;
    top: -25%;
    animation: spin 1.5s infinite linear;
}

.border-rainbow .box::after {
    content: "RAINBOW";
    position: absolute;
    background-color: #1c1b29;
    height: 93%;
    width: 93%;
    top: 3.5%;
    left: 3.5%;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 6px;
    display: grid;
    place-items: center;
    font-size: 20px;

}

.border-rainbow .box {}

@keyframes spin {
    100% {
        transform: rotate(-360deg);
    }
}


/* Buttons */
.btn-candy-pink {
    transition: 1.2s cubic-bezier(.17, .85, .438, .99);
    color: #fff;
    overflow: hidden;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    line-height: 48px;
    text-align: center;
    outline: 0;
    border: none;
    border-radius: 100px;
    position: relative;

    background: linear-gradient(to right, #f92c8b 0, #b02cd6 100%);
    box-shadow: 0 10px 15px 0 rgba(175, 0, 202, .2);

    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;

    letter-spacing: 1px;

    span.circle {
        box-sizing: border-box;
        transition: 1.2s cubic-bezier(.17, .85, .438, .99);

        background: rgba(255, 255, 255, .2);
        display: block;
        position: absolute;
        border-radius: 50%;
        top: -10%;

        right: -130px;
        width: 200px;
        height: 200px;
    }

    &:hover {
        span.circle {
            top: -10%;
            right: -80px;
        }
    }
}

.btn-candy-violet {
    background: linear-gradient(to right, #673AB7 0, #b121f3 100%);
    box-shadow: 0 10px 15px 0 rgba(56, 0, 189, .2);

    transition: 1.2s cubic-bezier(.17, .85, .438, .99);
    color: #fff;
    overflow: hidden;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    line-height: 48px;
    text-align: center;
    outline: 0;
    border: none;
    border-radius: 100px;
    position: relative;

    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;

    letter-spacing: 1px;

    span.circle {
        box-sizing: border-box;
        transition: 1.2s cubic-bezier(.17, .85, .438, .99);

        background: rgba(255, 255, 255, .2);
        display: block;
        position: absolute;
        border-radius: 50%;
        top: -10%;

        right: -130px;
        width: 200px;
        height: 200px;
    }

    &:hover {
        span.circle {
            top: -10%;
            right: -80px;
        }
    }
}

.btn-candy-blue {
    background: linear-gradient(to right, #423ab7 0, #2196F3 100%);

    box-shadow: 0 10px 15px 0 rgba(0, 3, 189, 0.2);

    transition: 1.2s cubic-bezier(.17, .85, .438, .99);
    color: #fff;
    overflow: hidden;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    line-height: 48px;
    text-align: center;
    outline: 0;
    border: none;
    border-radius: 100px;
    position: relative;

    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;

    letter-spacing: 1px;

    span.circle {
        box-sizing: border-box;
        transition: 1.2s cubic-bezier(.17, .85, .438, .99);

        background: rgba(255, 255, 255, .2);
        display: block;
        position: absolute;
        border-radius: 50%;
        top: -10%;

        right: -130px;
        width: 200px;
        height: 200px;
    }

    &:hover {
        span.circle {
            top: -10%;
            right: -80px;
        }
    }
}

.btn-glass-blue {
    background: linear-gradient(to right, #423ab7 0, #2196F3 100%);

    box-shadow: 0 10px 15px 0 rgba(0, 3, 189, 0.2);

    transition: 1.2s cubic-bezier(.17, .85, .438, .99);
    color: #fff;
    overflow: hidden;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    padding: 0 20px;
    line-height: 48px;
    text-align: center;
    outline: 0;
    border: none;
    border-radius: 100px;
    position: relative;

    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;

    letter-spacing: 1px;

    span.circle {
        box-sizing: border-box;
        transition: 1.2s cubic-bezier(.17, .85, .438, .99);

        background: rgba(255, 255, 255, .2);
        display: block;
        position: absolute;
        border-radius: 50%;
        top: -10%;

        right: -130px;
        width: 200px;
        height: 200px;
    }

    &:hover {
        span.circle {
            top: -10%;
            right: -80px;
        }
    }
}

.btn-reactable-gray {
    /* transition: 1.2s cubic-bezier(.17,.85,.438,.99); */
    color: #000;
    overflow: hidden;
    cursor: pointer;

    font-size: 16px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
    padding: 0 10px;
    line-height: 38px;
    text-align: center;
    outline: 0;
    border: none;
    border-radius: 5px;
    position: relative;

    background: linear-gradient(to right, #f1f1f1 0, #ccc 100%);
    box-shadow: 0 10px 15px 0 rgba(161, 161, 161, 0.2);

    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    align-items: center;

    letter-spacing: 1px;
    border: 1px solid #ddd;

    span.svg {
        padding: 0 10px 0 0;
    }

    span.circle {
        box-sizing: border-box;
        transition: 1.2s cubic-bezier(.17, .85, .438, .99);

        background: rgba(255, 255, 255, .2);
        display: block;
        position: absolute;
        border-radius: 50%;
        top: -10%;

        right: -130px;
        width: 200px;
        height: 200px;
    }

    &:hover {
        color: #ff0000;

        span.circle {
            top: -10%;
            right: -80px;
        }
    }
}

.sf-switcher {}

.sf-switcher .form-custom-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    min-width: 34px;
    max-width: 34px;
    height: 18px;
    margin-bottom: 0px;
}

.sf-switcher .form-custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sf-switcher .form-custom-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #A9D08E;
    -webkit-transition: .4s;
    transition: .4s;
}

.sf-switcher .form-custom-switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.sf-switcher .form-custom-switch input:checked+.slider {
    background-color: #888;
}

.sf-switcher .form-custom-switch input:focus+.slider {
    box-shadow: 0 0 1px #888;
}

.sf-switcher .form-custom-switch input:checked+.slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

.sf-switcher .form-custom-switch .slider.round {
    border-radius: 14px;
}

.sf-switcher .form-custom-switch .slider.round:before {
    border-radius: 50%;
}

.sf-switcher .caption {
    display: inline-block;
    padding-left: 5px;
}

.sf-switcher .on {
    color: #333;
}

.sf-switcher .off {
    color: #888;
}

.sf-switcher.on .on {
    display: inline-block;
}

.sf-switcher.on .off {
    display: none;
}

.sf-switcher.off .on {
    display: none;
}

.sf-switcher.off .off {
    display: inline-block;
}



/* Roowdy CSS */

.hr-shadow-top-right-tbottom {
    position: relative;
    /* border-right: 1px dashed #ccc; */
}

.hr-shadow-top-right-tbottom::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: 0px;
    top: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #e1e1e1, #e1e1e1);
    /* background: radial-gradient(circle at 50% 100%, #e1e1e1, #e1e1e1 , #ff0000, #ff0000); */
}

.hr-shadow-bottom-right-ttop {
    position: relative;
}

.hr-shadow-bottom-right-ttop::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: 1px;
    top: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 50% 100%, #e1e1e1, #e1e1e1, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    /* background: radial-gradient(circle at 50% 100%, #ff0000, #ff0000, #e1e1e1, #e1e1e1); */
}

.hr-shadow-bottom-right-tleft {
    position: relative;
}

.hr-shadow-bottom-right-tleft::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    right: 0px;
    bottom: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 100% 50%, #e1e1e1, #e1e1e1, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    /* background: radial-gradient(circle at 100% 50%, #ff0000, #ff0000, #e1e1e1, #e1e1e1 ); */
}

.hr-shadow-bottom-left-tright {
    position: relative;
}

.hr-shadow-bottom-left-tright::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    right: 0px;
    bottom: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 100% 50%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #e1e1e1, #e1e1e1);
    /* background: radial-gradient(circle at 100% 50%, #e1e1e1, #e1e1e1 , #ff0000, #ff0000); */
}

.hr-shadow-bottom-left-ttop {
    position: relative;
}

.hr-shadow-bottom-left-ttop::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0px;
    top: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 50% 100%, #e1e1e1, #e1e1e1, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    /* background: radial-gradient(circle at 50% 100%, #ff0000, #ff0000, #e1e1e1, #e1e1e1); */
}

.hr-shadow-top-left-tbottom {
    position: relative;
    /* border-right: 1px dashed #ccc; */
}

.hr-shadow-top-left-tbottom::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0px;
    top: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #e1e1e1, #e1e1e1);
    /* background: radial-gradient(circle at 50% 100%, #e1e1e1, #e1e1e1 , #ff0000, #ff0000); */
}

.hr-shadow-top-left-tright {
    position: relative;
}

.hr-shadow-top-left-tright::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    right: 0px;
    top: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 100% 50%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), #e1e1e1, #e1e1e1);
    /* background: radial-gradient(circle at 100% 50%, rgba(0,0,0,0), rgba(0,0,0,0), #e1e1e1, #e1e1e1); */
    /* background: radial-gradient(circle at 100% 50%, #e1e1e1, #e1e1e1, #ff0000, #ff0000 ); */
}

.hr-shadow-top-right-tleft {
    position: relative;
}

.hr-shadow-top-right-tleft::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    right: 0px;
    top: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 100% 50%, #e1e1e1, #e1e1e1, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    /* background: radial-gradient(circle at 100% 50%,  #ff0000, #ff0000, #e1e1e1, #e1e1e1 ); */
}

.hr-shadow-right {
    position: relative;
}

.hr-shadow-right::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: 0px;
    top: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0), #e1e1e1, #e1e1e1, rgba(0, 0, 0, 0))
        /* background: radial-gradient(circle at 100% 50%, #e1e1e1, #ff0000); */
}

.hr-shadow-left {
    position: relative;
}

.hr-shadow-left::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    left: 0px;
    top: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 50% 100%, rgba(0, 0, 0, 0), #e1e1e1, #e1e1e1, rgba(0, 0, 0, 0))
        /* background: radial-gradient(circle at 100% 50%, #e1e1e1, #ff0000); */
}

.hr-shadow-top {
    position: relative;
}

.hr-shadow-top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: #eee;
    height: 1px;
    width: 100%;
    border: none;
    background: radial-gradient(circle at 50% 50%, #e1e1e1, #e1e1e1, rgba(0, 0, 0, 0));
}

.hr-shadow-bottom {
    position: relative;
}

.hr-shadow-bottom::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0px;
    bottom: 0;
    background: #eee;
    border: none;
    background: radial-gradient(circle at 50% 50%, #e1e1e1, #e1e1e1, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}